
.productContainer {
  width: 85%;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.itemCount {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.toggleFilterBtn {
  background: none;
  border: none;
  color: #888792;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  font-family: Adobe Caslon Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.countAndFiltertoggle {
  width: 50%;
  display: flex;
  gap: 20px;
}

.countAndFiltertoggle button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mainContent {
  display: flex;
  align-items: flex-start;
}

.productsGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 20px;
}

/* Mobile View */
@media(max-width:768px){
  .productsGrid{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 5px;
        padding:0;
  }
  .headerRow{
    display: flex;
  }
  
  .countAndFiltertoggle {

    width: fit-content;
  
  }
  .filterToggleMobile{
    border:none;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
  }

  .filterToggleMobile {
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;

  }

  .mainContent {
    flex-direction: column;
  }

  .filterDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .drawerTitle {
    font-size: 20px;
    font-weight: bold;
  }

  .closeDrawer {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
  }

  .productsGrid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
    padding: 0;
    margin-top: 20px;
  }
}

  

